.sticky {
	display: block;
}

// .post,
// .page {
// 	margin: 0 0 1.5em;
// }

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

// About Page styles
.post-14 {
    @include flex-center-column;
    max-width: 75rem;
    margin: 0 auto;

    h1 {
        text-align: center;
    }
    .entry-content {
    @include flex-center-column;

    @include large {
        flex-direction: row;
        gap: 3rem;

            img {
                width: 28.125rem;
                @include desktop {
                    width: 35rem;
                }
            }
        }
    }
}

// Privacy Policy page, Refunds and Returns, Terms & conditions
.privacy-policy, .post-29, .post-299 {
    .entry-header {
        text-align: center;
    }
    .entry-content {
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    padding: 1rem;
    max-width: 75rem;
    margin: 0 auto;
    }
}


// Workshops calendar

.calendar {

    .workshop-overview {
        max-width: 45rem;
        margin: 3rem auto;
        padding: 0 .5rem;
        color: $color_dark_green;
        text-indent: 2rem;
        font-weight: 400;
    
        @include large {
            font-size: 1.5rem;
            padding: 0 1rem;
        }
    }
    
    .wp-block-woocommerce-bookings-availability-calendar-block {

        max-width: 62.5rem;
        margin: 0 auto;

        .wc-bookings-availability-calendar.wc-bookings-availability-calendar-5-rows-month {
            border: 3px solid $color_dark_green;
        }

        .wc-bookings-availability-calendar-header-item {
            background-color: $color_dark_green;
            color: $color_white;
        }

        .wc-bookings-availability-header .wc-bookings-availability-date, .wc-bookings-availability-item-subheader span{
            color: $color_dark_green;
            font-family: $font__headings;
        }

        .woocommerce-error.notice.notice-empty {
            background-color: transparent;
        }

        .wc-bookings-availability-event-table {
            padding: 0;
        }

        .wc-bookings-availability-item {
            text-align: center;
        }

        .wc-bookings-availability-item-body {
            flex-direction: column;
        }

        .components-popover.wc-bookings-availability-popover.is-positioned {
            z-index: 9999;
        } 
    }
}

// forgotten password page styles
.page-template-default.page.page-id-28.wp-custom-logo.theme-wcss-theme.woocommerce-account.woocommerce-page.woocommerce-lost-password.woocommerce-js.woocommerce-active{

    .site-main {
        
        .post-28.page.type-page.status-publish.hentry {
            box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);

            @include reset;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            padding: 1rem;
            max-width: 480px;
            min-width: 300px;
            margin: 0 auto;
            text-align: center;
        }
    }
}

// 404 Error Page

.error-404.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    .page-content {
        margin: 0;
    }

    .home-link {
        a {
            text-decoration: underline;
        }
    }
}