// Home Page Testimonials
.home {
    .testimonials {
        @include phone {
            background-image: linear-gradient(to bottom, #474747 0%, #474747 96%, white 100%);
        }
        h2 {
            margin: 5rem 0rem 4rem 0rem; 
            color: $color_dark_green;
            @include phone {
                color: $color_white;
            }
        }
        .wp-block-pullquote {
            blockquote {
                color: $color_dark_green;
                @include phone {
                    color: $color_white;
                }
                cite {
                    font-weight: 600;
                }
            }
        }
    }
}
.archive {
    .testimonials {
        @include phone {
            margin: 2rem;
        }

        @include large {
            margin-top: 5rem; 
        }
        .wp-block-pullquote {
            blockquote {
                color: $color_dark_green;
                cite {
                    font-weight: 600;
                }
            }
        }
    }
}


.testimonials {
    @include flex-column;
    align-items: center;
    padding: 3.125rem .625rem;

    @include large {
        flex-wrap: wrap;
        gap: .625rem;
    }

    h2 {
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        color: $color_white;
        font-family: $font__body;
        @include tablet {
            font-size: 1.75rem;
        }
        @include large {
            font-size: 2rem;
        }
        @include desktop {
            font-size: 2.5rem;
        }
    }

    .wp-block-pullquote {
        width: 100%;
        padding: 0;

        blockquote {
            padding: 1.25rem;
            margin: 0 .625rem;
            font-family: $font__body;

            p {
                font-size: 1rem;
                line-height: 1.6;
                @include tablet {
                    font-size: 1rem;
                }
                @include large {
                    font-size: 1.25rem;
                }
            }

            cite {
                display: block;
                text-align: right;
                right: 1.5625rem;
                margin-top: .625rem;
                font-style: italic;
            }
        }
    }

    @include large {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;

        .wp-block-pullquote {
            flex: 1;
            max-width: 37.5rem;
        }
    }
}


// Related Products

.related.products{

    .attachment-woocommerce_thumbnail {
        margin: 0 auto;
    }
    
    ul {
    @include flex-center-column;
    max-width: 18.75rem;
    margin: 0 auto;

    @include tablet {
        align-items: stretch;
        max-width: 100%;
    }
    
    li, .price {
        @include flex-center-column;
    }
    @include tablet {
        flex-direction: row;
    }
    }

    h2 {
        text-align: center;
    }
}