// // * --- WORKSHOPS --- * \\
main {
    .products,
    .instructors,
    .featured-workshops {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;

        h2 {
            width: 100%;
            display: block;
            text-align: center;
            grid-column: 1 / -1;
        }

        @include tablet {
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;
        }

        li {
            min-width: 150px;
        }
    }
}