// // * --- Home && WORKSHOPS --- * \\
main {
    .upcoming-workshops {
        text-align: center;
        z-index: -1;
    }

    .workshops-flex ul,
    .instructors,
    .featured-workshops {
        @include flex-center-column; 
        align-items: stretch;

        h2 {
            width: 100%;
            display: block;
            text-align: center;
            grid-column: 1 / -1;
        }

        h3 {
            text-align: center;
        }

        li {
            min-width: 100%;
        }

        article {
            display: flex;
            justify-content: flex-start; 
            align-items: center;
            flex-direction: column;
        }

        .attachment-woocommerce_thumbnail {
            margin: 0 auto;
        }

        @include phone {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0.5rem;
        }

        @include large {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;
        }
    }
    .instructors article {
        margin-bottom: 1rem;
    }
}

.home {
    .wp-block-heading {
        margin: 6rem 0rem;
    }
    .wc-block-grid__products {
        margin-bottom: 8rem;
    }
    .featured-workshops {
        h2 {
            margin: 4rem 0rem;
            @include tablet {
                margin: 8rem 0rem;
            }
        }
    }
}

.term-workshops {
    .workshops-flex {
        .upcoming-workshops {
            margin: 5rem 0rem;
            @include large {
                margin: 7rem 0rem;
                font-size: 2rem;
            }

        }
    }
    .instructors {
        h2 {
            margin: 5rem 0rem 6rem 0rem;
            @include large {
                margin: 7rem 0rem;
                font-size: 2rem;
            }

        }
    }

}