// form for contact page
.post-16.page.type-page.status-publish.hentry {

    h1 {
        text-align: center;
    }

    .entry-content {
        @include large {
            max-width: 75rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }

        .contact-info {
            text-align: center;
            @include large {
                width: 70%;
            }
        }

    }

    .entry-content 
    .gf_browser_chrome.gform_wrapper.gform-theme.gform-theme--foundation.gform-theme--framework.gform-theme--orbital {
        box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
        padding: 1rem;
        width: 100%;

        form .gform_footer.top_label {
            display: flex;
            justify-content: center;
            align-items: center;

            input.gform_button.button {
                background-color: $color_dark_green;
            }
        }
    }
}

// login / register page
.post-28.page.type-page.status-publish.hentry {

    .entry-header {
        text-align: center;
    }

    .entry-content
    .woocommerce 
    .u-columns.col2-set {

        .u-column1.col-1 {
            box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
            padding: 1rem;
            max-width: 480px;
            margin: 0 auto;
            margin-bottom: 2rem;

            h2 {
                text-align: center;
            }

            .woocommerce-form.woocommerce-form-login.login { // login form
                
                .woocommerce-form-row.woocommerce-form-row--wide.form-row.form-row-wide {
                    margin: 0 auto;
                    min-width: 260px;
                    max-width: 380px;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 1rem;

                    input {
                        text-align: left;
                    }
                }

                .form-row { 
                    margin: 0 auto;
                    min-width: 260px;
                    max-width: 380px;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 1rem; 
                }

                .woocommerce-LostPassword.lost_password { // forgotten password text
                    text-align: center;
                }
            }
        }

        .u-column2.col-2 { // register
            box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
            padding: 1rem;
            max-width: 480px;
            margin: 0 auto;

            h2 {
                text-align: center;
            }

            .woocommerce-form.woocommerce-form-register.register { // register form

                .woocommerce-form-row.woocommerce-form-row--wide.form-row.form-row-wide {
                    margin: 0 auto;
                    min-width: 260px;
                    max-width: 380px;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 1rem;

                    input {
                        text-align: left;
                    }
                }

                .woocommerce-form-row.form-row {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}