.page-id-28,
.page-id-87,
.page-id-88,
.page-id-90,
.page-id-89, .site-main {
    margin: 0 auto;
}

.woocommerce-MyAccount-content {
        box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
        padding: 1rem;
        margin: 0 auto;
        margin-top: 2rem;
        max-width: 480px;

        
        a {
            text-decoration: underline;
        }
    }
