.site-footer {
    @include flex-center-column;
    margin: 1rem;

    @include large {
        flex-direction: row;
        justify-content: space-between;
    }

    .custom-logo {
        @include box(6rem);
    }

    .store-info {
        @include flex-center-column;
        
        @include large {
            flex-direction: row;
            
            address {
                max-width: 12.5rem;
            }
        }
    }


    .footer-navigation {
        ul {
            @include reset;
            text-align: center;

            @include tablet {
                display: flex;
                flex-direction: row;
            }
            
            li {
                padding: .5rem;
            }
        }
    }

    .footer-sign-in {

        .sign-in-logo {
            vertical-align: middle;
            margin-right: 0.2rem;
        }

        .sign-in-link {
            vertical-align: middle;
            font-family: $font__headings;
        }

    }

}