.site-footer {
    @include flex-center-column;
    // margin: 1rem;
    padding: 0 1rem;
    box-shadow: 0 -4px 4px -4px rgba(0, 0, 0, 0.2);

    @include large {
        flex-direction: row;
        justify-content: space-between;
    }

    .custom-logo {
        @include box(6rem);
    }

    .store-info {
        @include flex-center-column;
        
        @include large {
            flex-direction: row;
            
            address {
                max-width: 12.5rem;
            }
        }
    }


    .footer-navigation {
        ul {
            @include reset;
            text-align: center;

            @include tablet {
                display: flex;
                flex-direction: row;
            }
            
            li {
                padding: .5rem;
            }
        }
    }
}