body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 1rem;
	line-height: $font__line-height-body;
}

nav {
	font-family: $font__headings;
	text-transform: uppercase;
}

h1,
h2,
.wc-block-grid__product-title {
	text-transform: uppercase;
}

.woocommerce-Price-amount.amount,
.wc-block-grid__product-title {
	font-weight: bold;
}

@import "headings";
@import "copy";