.woocommerce-MyAccount-navigation { // navigation

    ul {
        display: grid;
        grid-template-areas: 
        "acc-dashboard acc-orders acc-downloads acc-giftcards acc-address"
        "acc-payment acc-details acc-bookings acc-wishlist acc-logout";
        gap: 0.5rem;

        .woocommerce-MyAccount-navigation-link {
            border: 2px solid white;
            padding: 0.5rem;
            background-color: $color_dark_green;
            display: flex;
            justify-content: center;
            align-items: center;
            
            a {
                color: white;
                display: block;
            }

            a:hover {
               color:  #f5f5f5;
            }
        }

        .woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--dashboard { // dashboard
            grid-area: acc-dashboard;
        }

        .woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--orders { // orders
            grid-area: acc-orders;
        }

        .woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--downloads { // downloads

            grid-area: acc-downloads;
        } 

        .woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--giftcards { // giftcards
            grid-area: acc-giftcards;
        }

        .woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--edit-address { // addresses

            grid-area: acc-address
        }

        .woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--payment-methods { // payment methods

            grid-area: acc-payment;
        }

        .woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--edit-account { // account details

            grid-area: acc-details;
        }

        .woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--bookings { // bookings

            grid-area: acc-bookings;
        }

        .woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--account-wishlists { // wishlist

            grid-area: acc-wishlist;
        }

        .woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--customer-logout { //log out

            grid-area: acc-logout;
        }

    }
}