.category-links-wrapper {
    grid-area: cat-nav;
    display: grid;
    width: 100%;
}

.category-links-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-top: 1.5rem;

    .category-link {
        position: relative;
        display: inline-block;
        // flex: 1 1 200px;

        h2 {
            @include reset;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: $color_white;
            //mix-blend-mode: difference;
            filter: drop-shadow(0 0 0.75rem rgb(22, 22, 22));
        }

        img {
            display: block;
            width: 9.375rem;
            @include phone {
                width: 12.5rem;
            }
            @include large {
                width: 100%; 
            }
        }

    }

}

@include phone {
    .category-links-section {
        flex-wrap: wrap;
        flex-direction: row;
    }
}