body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
}
main {
	max-width: 120rem;
	min-height: calc(100vh - 14rem);
	margin: 0 auto;
	padding: 0 1rem 0rem;
}
