button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.wp-block-button__link {
	border-radius: 0px;
	color: #ffffff;
	background-color: $color_black;
	border: 1px solid $color_black;
  
	&:hover {
	  color: #ffffff; /* Change text color on hover */
	  background-color: $color_dark_green; /* Change background color on hover */
	  border: 1px solid $color_dark_green;
	  transition: all 0.3s ease-in; /* Smooth transition for the hover effect */
	}
  
	&:focus {
	  outline: 2px solid #000000; /* Outline for accessibility */
	  outline-offset: 4px; /* Space between the outline and the button */
	}
  }
  