button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.wp-block-button__link,
.add_to_cart_button {

	padding: .5rem;
	border-radius: 0px;
	color: #ffffff;
	background-color: $color_black;
	border: 1px solid $color_black;
	cursor: pointer;
  
	&:hover {
	  color: #ffffff;
	  background-color: $color_dark_green;
	  border: 1px solid $color_dark_green;
	  transition: all 0.3s ease-in;
	}
  
	&:focus {
	  outline: 2px solid #000000;
	  outline-offset: 4px;
	}
}

.wp-block-button__link, .add_to_cart_button {
	&:visited {
		color: $color_white;
		background-color: $color_dark_green;
	}
}
