.post-type-archive-product .site,
.term-camping .site,
.term-climbing .site,
.term-snow .site {
    @include desktop {
        display: grid;
        grid-template-columns: $size__site-sidebar auto;
        grid-template-areas:
            "header header"
            "cat-nav cat-nav"
            "sidebar main"
            "footer footer";
    }
    max-width: 120rem;
    margin: 0 auto;
}

.site-header {
	grid-area: header;
}

.site-main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
    margin: 0 auto;
}

.site-main .category-links-wrapper {
    grid-area: cat-nav;
}

.widget-area {
	grid-area: sidebar;
    max-width: 18.75rem;
    margin-left: 2rem;
    display: none;

    @include desktop {
        display: block;
    }
}

.site-footer {
	grid-area: footer;
}

@import "no-sidebar";